<h2>
  <%= @list.title %>の詳細画面
</h2>

<div>
  本文
  <p>
    <%= @list.body %>
  </p>
</div>

 <div>
  <p>画像</p>
  <%= image_tag @list.image, size:"200x200" %>
 </div>

<div>
  <%= link_to "編集する", edit_list_path(@list.id) %>
  |
  <%= link_to "削除する",list_path(@list.id), method: :delete, "data-comfirm" => "この操作は取り消せませんが、よろしいですか？" %>
  <!--methodにdestroyはない-->
</div>

<div>
  <%= link_to "戻る", lists_path %>
</div>